{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        "no-var": "error",
        "react/prop-types": "off"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true,
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    }
}